@import url("./common/fonts.css");

@import url("./editors/navbar.css");
@import url("./editors/intro.css");
@import url("./editors/editors.css");

@import url("./editors/partials/editor.css");
@import url("./editors/partials/heavy-features.css");

* {
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  z-index: -2;
}
