@import url("./common/reveal.css");
@import url("./common/fonts.css");

@import url("./register/info.css");
@import url("./register/form.css");

* {
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
}

input {
  outline: none;
}

body {
  background-image: url("/register/body-background.png");
  background-size: cover;
  padding: 6.5rem 0 0 0;
  position: relative;
  z-index: -2;
}
