<img
  class="editors-carousel-controller left"
  src="/editors/carousel/carousel-left.png"
/>

<div class="editors-features-carousel">
  <% features.forEach((row) => { %>
  <div class="editors-features-container-row">
    <% row.forEach((container) => { %>
    <div class="editors-features-container">
      <img class="editors-features-image" src="container.image" />

      <hr class="editors-features-container-divider" />

      <div class="editors-features-text-container">
        <h1 class="editors-features-title"><%= container.title %></h1>

        <h1 class="editors-features-text"><%= container.description %></h1>
      </div>
    </div>
    <% }) %>
  </div>
  <% }) %>
</div>

<img
  class="editors-carousel-controller right"
  src="/editors/carousel/carousel-right.png"
/>

<div class="editors-carousel-indicator">
  <% features.forEach((row) => { %>
  <img
    class="editors-carousel-indicator-image"
    src="/editors/carousel/carousel-point.png"
  />
  <% }) %>
</div>
