<div class="features-carousel-wrapper no-reveal">
  <div class="features-left-arrow">
    <img class="no-reveal" src="/home/features/left.png" />
  </div>

  <div class="features-carousel">
    <div class="features-container">
      <img class="features-image" src="/home/features/editor.png" />

      <div class="features-info-container">
        <div class="features-text-container">
          <h1 class="features-title">THE POWER OF IDEs</h1>

          <h1 class="features-description">
            Integrated Development Environment is a professional platform for
            developers to write code. An IDE is made up of multiple state of the
            art components which are fully integrated in the software. These
            components help the developer to write code efficiently, provide
            deep performance analysis, help in debugging your code to find
            errors and solutions, and do much more.
          </h1>
        </div>

        <div class="features-links-container">
          <a class="features-link" href="">
            <h1>View Categories</h1>
            <img src="/home/features/arrow.png" />
          </a>

          <a class="features-link" href="">
            <h1>View Categories</h1>
            <img src="/home/features/arrow.png" />
          </a>
        </div>
      </div>
    </div>

    <div class="features-container">
      <img class="features-image" src="/home/features/editor.png" />

      <div class="features-info-container">
        <div class="features-text-container">
          <h1 class="features-title">THE POWER OF IDEs</h1>

          <h1 class="features-description">
            Integrated Development Environment is a professional platform for
            developers to write code. An IDE is made up of multiple state of the
            art components which are fully integrated in the software. These
            components help the developer to write code efficiently, provide
            deep performance analysis, help in debugging your code to find
            errors and solutions, and much more.
          </h1>
        </div>

        <div class="features-links-container">
          <a class="features-link" href="">
            <h1>View Categories</h1>
            <img src="/home/features/arrow.png" />
          </a>

          <a class="features-link" href="">
            <h1>View Categories</h1>
            <img src="/home/features/arrow.png" />
          </a>
        </div>
      </div>
    </div>

    <div class="features-container">
      <img class="features-image" src="/home/features/editor.png" />

      <div class="features-info-container">
        <div class="features-text-container">
          <h1 class="features-title">THE POWER OF IDEs</h1>

          <h1 class="features-description">
            Integrated Development Environment is a professional platform for
            developers to write code. An IDE is made up of multiple state of the
            art components which are fully integrated in the software. These
            components help the developer to write code efficiently, provide
            deep performance analysis, help in debugging your code to find
            errors and solutions, and much more.
          </h1>
        </div>

        <div class="features-links-container">
          <a class="features-link" href="">
            <h1>View Categories</h1>
            <img src="/home/features/arrow.png" />
          </a>

          <a class="features-link" href="">
            <h1>View Categories</h1>
            <img src="/home/features/arrow.png" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="features-right-arrow">
    <img class="no-reveal" src="/home/features/right.png" />
  </div>
</div>

<div class="features-slides-counter no-reveal">
  <img class="no-reveal" src="/home/features/1.png" />
  <img class="no-reveal" src="/home/features/2.png" />
  <img class="no-reveal" src="/home/features/3.png" />
</div>
