<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Fonts Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion -->
    <link rel="stylesheet" href="/frameworks.css" />
    <title>Codexo | Frameworks</title>
  </head>

  <body>
    <header id="header">
      <%- include("./partials/common/navbar.ejs", { navbar: navbar }) %>
    </header>

    <main>
      <section id="introduction-section">
        <%- include("./partials/coding/introduction.ejs", { introduction:
        introduction }) %>
      </section>

      <section id="frameworks-section">
        <h1 class="frameworks-section-title"></h1>

        <%- include("./partials/coding/frameworks.ejs", { types: types }) %>
      </section>
    </main>
  </body>
</html>
