<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Fonts Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion -->
    <link rel="stylesheet" href="/home.css" />
    <title>Codexo</title>
  </head>

  <body>
    <header id="header">
      <nav>
        <div class="nav-left-container">
          <h1 class="nav-title">CODEXO</h1>
        </div>

        <div class="nav-right-container">
          <div class="nav-social-container">
            <a class="nav-social-link" href="https://www.instagram.com/">
              <img class="nav-social-image" src="/home/header/insta.png" />
            </a>

            <a class="nav-social-link" href="https://www.facebook.com/">
              <img class="nav-social-image" src="/home/header/meta.png" />
            </a>

            <a class="nav-social-link" href="https://twitter.com/ryxndmello">
              <img class="nav-social-image" src="/home/header/twitter.png" />
            </a>
          </div>

          <div class="nav-links-container">
            <a class="nav-right-link" href="#features-section">FEATURES</a>
            <a class="nav-right-link" href="#editors-section">EDITORS</a>
            <a class="nav-right-link register" href="/account/profile/signup"
              >REGISTER</a
            >
          </div>
        </div>
      </nav>

      <div class="header-info-container">
        <div class="header-info-block">
          <h1 class="header-info-title">
            The Best Platforms To Write Your Code
          </h1>

          <h1 class="header-info-description">
            A curated list of heavy-weight and light-weight code editors, with
            their native languages and frameworks.
          </h1>

          <div class="header-buttons-container">
            <a class="header-register-link" href="/account/profile/signup">
              <img src="/home/header/user.png" />
              <h1>Register Profile</h1>
            </a>

            <a class="header-explore-link" href="/menu">
              <h1>View Collection</h1>
              <img src="/home/header/arrow.png" />
            </a>
          </div>
        </div>

        <img class="header-info-image" src="/home/header/code.png" />
      </div>
    </header>

    <main>
      <section id="features-section" class="reveal">
        <h1 class="features-section-title">EXPAND YOUR KNOWLEDGE</h1>

        <div class="features-carousel-wrapper no-reveal">
          <div class="features-left-arrow">
            <img class="no-reveal" src="/home/features/left.png" />
          </div>

          <%- include("./partials/home/features.ejs", { features: features }) %>

          <div class="features-right-arrow">
            <img class="no-reveal" src="/home/features/right.png" />
          </div>
        </div>

        <div class="features-slides-counter no-reveal">
          <img class="no-reveal" src="/home/features/1.png" />
          <img class="no-reveal" src="/home/features/2.png" />
          <img class="no-reveal" src="/home/features/3.png" />
        </div>
      </section>

      <section id="editors-section" class="reveal">
        <div class="editors-text-container">
          <h1 class="editors-title">CODE EDITORS</h1>

          <h1 class="editors-description">
            Code Editors can be classified into two major types, light-weight
            and heavy-weight classes. Each editor has its advantages and
            disadvantages. Choosing the best IDE depends on the type of project
            and its overall complexity. Try these links below.
          </h1>

          <div class="editors-button-container">
            <a href="/learn/editors/heavy" class="editors-heavy-link">
              <h1>Heavy Weights</h1>
            </a>

            <a href="/learn/editors/light" class="editors-light-link">
              <h1>Light Weights</h1>
            </a>
          </div>
        </div>

        <img class="editors-image" src="/home/editor/editor.png" />
      </section>

      <section id="languages-section" class="reveal">
        <img class="languages-image" src="/home/languages/code.png" />

        <div class="languages-text-container">
          <h1 class="languages-title">MASTER YOUR CODE</h1>

          <h1 class="languages-description">
            Coding languages are the driving tools behind every creation.
            Understanding the language and its associated libraries and packages
            is the first step at being a master of any language. View these
            links, below, for detailed information.
          </h1>

          <div class="languages-links-container">
            <a class="languages-explore-link" href="/learn/coding/languages">
              <h1>Explore Languages</h1>
              <img src="/home/languages/arrow.png" />
            </a>

            <a class="languages-editors-link" href="/learn/coding/frameworks">
              <h1>Explore Frameworks</h1>
              <img src="/home/languages/arrow.png" />
            </a>
          </div>
        </div>
      </section>

      <section id="comments-section" class="reveal">
        <h1 class="comments-section-title">COMMENTS KEEP US GOING</h1>

        <div class="comments-left-button">
          <img class="no-reveal" src="/home/comments/left-arrow.png" />
        </div>

        <%- include("./partials/home/comments.ejs", { comments: comments }) %>

        <div class="comments-right-button">
          <img class="no-reveal" src="/home/comments/right-arrow.png" />
        </div>

        <div class="comments-slides-counter no-reveal">
          <img class="no-reveal" src="/home/comments/circle-1.png" />
          <img class="no-reveal" src="/home/comments/circle-2.png" />
          <img class="no-reveal" src="/home/comments/circle-3.png" />
        </div>
      </section>

      <section id="brands-section" class="reveal">
        <a class="brands-section-title">THE BEST BRANDS</a>

        <%- include("./partials/home/brands.ejs", { brands: brands }) %>
      </section>
    </main>

    <footer class="reveal">
      <div class="footer-info-container">
        <h1 class="footer-logo">CODEXO</h1>

        <div class="footer-register-container">
          <a class="footer-register-link" href="/account/profile/signup">
            <img src="/home/footer/profile-new.png" />
            <h1>Sign Up</h1>
          </a>

          <a class="footer-register-link" href="/account/profile/login">
            <img src="/home/footer/profile-old.png" />
            <h1>Log In</h1>
          </a>
        </div>
      </div>

      <hr class="footer-divider" />

      <div class="footer-links-container">
        <div class="footer-container socials">
          <h1 class="footer-title">Socials</h1>

          <a class="footer-link" href="https://www.instagram.com/">
            <img class="socials" src="/home/footer/insta.png" />
          </a>

          <a class="footer-link" href="https://www.facebook.com/">
            <img class="socials" src="/home/footer/face.png" />
          </a>

          <a class="footer-link" href="https://twitter.com/ryxndmello">
            <img class="socials" src="/home/footer/twitter.png" />
          </a>
        </div>

        <%- include("./partials/home/footer.ejs", { footer: footer }) %>
      </div>

      <a class="footer-scroll-up no-reveal" href="#header">
        <img class="no-reveal" src="/home/footer/up.png" />
      </a>

      <h1 class="footer-creator-name no-reveal">
        <span class="no-reveal">@</span>RYAN NOLASCO D MELLO
      </h1>
    </footer>

    <script type="module" src="/Home.js"></script>
  </body>
</html>
