<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Fonts Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion -->
    <link rel="stylesheet" href="/languages.css" />
    <title>Codexo | Languages</title>
  </head>

  <body>
    <header id="header"><%- include("./partials/navbar.ejs") %></header>

    <main>
      <section id="languages-section">
        <article class="lang-container">
          <div class="lang-info-block">
            <img src="/languages/csharp.png" class="lang-image" />

            <div class="lang-text-container">
              <h1 class="lang-name">Microsoft's C#</h1>

              <p class="lang-description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Quaerat ipsum quibusdam autem blanditiis amet earum tenetur
                totam optio maxime maiores.
              </p>
            </div>

            <div class="lang-links-container">
              <a class="lang-link features" href="">
                <h1 class="lang-link-text">Frameworks</h1>
              </a>

              <a class="lang-link" href="">
                <h1 class="lang-link-text">Frameworks</h1>
              </a>

              <a class="lang-link" href="">
                <h1 class="lang-link-text">Frameworks</h1>
              </a>
            </div>
          </div>

          <div class="lang-features-block">
            <div class="lang-features-container">
              <img
                class="lang-features-image"
                src="/languages/features/web.png"
              />

              <h1 class="lang-features-name">Web Development</h1>
            </div>

            <div class="lang-features-container">
              <img
                class="lang-features-image"
                src="/languages/features/web.png"
              />

              <h1 class="lang-features-name">Web Development</h1>
            </div>

            <div class="lang-features-container">
              <img
                class="lang-features-image"
                src="/languages/features/web.png"
              />

              <h1 class="lang-features-name">Web Development</h1>
            </div>

            <div class="lang-features-container">
              <img
                class="lang-features-image"
                src="/languages/features/web.png"
              />

              <h1 class="lang-features-name">Web Development</h1>
            </div>

            <div class="lang-features-container">
              <img
                class="lang-features-image"
                src="/languages/features/web.png"
              />

              <h1 class="lang-features-name">Web Development</h1>
            </div>

            <div class="lang-features-container">
              <img
                class="lang-features-image"
                src="/languages/features/web.png"
              />

              <h1 class="lang-features-name">Web Development</h1>
            </div>

            <div class="lang-features-container">
              <img
                class="lang-features-image"
                src="/languages/features/web.png"
              />

              <h1 class="lang-features-name">Web Development</h1>
            </div>

            <div class="lang-features-container">
              <img
                class="lang-features-image"
                src="/languages/features/web.png"
              />

              <h1 class="lang-features-name">Web Development</h1>
            </div>
          </div>
        </article>
      </section>
    </main>

    <script type="module" src="/Languages.js"></script>
  </body>
</html>
