<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Fonts Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion -->
    <link rel="stylesheet" href="./../css/menu.css" />
    <title>Codexo | Menu</title>
  </head>

  <body>
    <header id="header">
      <nav>
        <h1 class="nav-title">CODEXO</h1>

        <a class="nav-home-link" href="./home.html">
          <img class="nav-home-link-image" src="./../images/menu/home.png" />
          <h1 class="nav-home-link-text">HOME</h1>
        </a>
      </nav>
    </header>

    <main>
      <section id="types-section">
        <h1 class="types-section-title">EXPLORE AND BE INSPIRED</h1>

        <div class="type-container">
          <div class="type-information-container">
            <div class="type-text-container">
              <h1 class="type-title">HEAVY WEIGHT EDITORS</h1>

              <h1 class="type-description on-hover-visible">
                A heavy weight code editor is better know as an I.D.E. These
                editors are professional platforms used to build enterprise
                level applications. They are equipped with multiple features for
                efficiency, optimization and an overall better coding
                experience. Most editors also support major frameworks and
                libraries.
              </h1>
            </div>

            <div class="type-links-container on-hover-visible">
              <a class="type-link" href="./heavy.html">
                <h1 class="type-link-text">Explore Editors</h1>
                <img
                  class="type-link-image"
                  src="./../images/heavy/right.png"
                />
              </a>

              <a class="type-link" href="./heavy.html">
                <h1 class="type-link-text">Explore Editors</h1>
                <img
                  class="type-link-image"
                  src="./../images/heavy/right.png"
                />
              </a>
            </div>
          </div>

          <img class="type-background" src="./../images/menu/heavy.jpg" />
        </div>

        <div class="type-container">
          <div class="type-information-container">
            <div class="type-text-container">
              <h1 class="type-title">LIGHT WEIGHT EDITORS</h1>

              <h1 class="type-description on-hover-visible">
                A light weight code editor is a lighter variant of a
                professional I.D.E. They focus on performance and optimization.
                There are many components and features, called plugins or
                extensions, that can be installed and uninstalled anytime. They
                are mainly designed for developers who want a more personal and
                customizable environment. They are used for smaller professional
                applications.
              </h1>
            </div>

            <div class="type-links-container on-hover-visible">
              <a class="type-link" href="./heavy.html">
                <h1 class="type-link-text">Explore Editors</h1>
                <img
                  class="type-link-image"
                  src="./../images/heavy/right.png"
                />
              </a>

              <a class="type-link" href="./heavy.html">
                <h1 class="type-link-text">Explore Editors</h1>
                <img
                  class="type-link-image"
                  src="./../images/heavy/right.png"
                />
              </a>
            </div>
          </div>

          <img class="type-background" src="./../images/menu/light.jpg" />
        </div>

        <div class="type-container">
          <div class="type-information-container">
            <div class="type-text-container">
              <h1 class="type-title">FRAMEWORKS & LIBRARIES</h1>

              <h1 class="type-description on-hover-visible">
                Frameworks are a collection of libraries, packages and scripts
                used by developers to build various cross-platform, professional
                and enterprise level applications. These libraries help in
                building complex features easily and help in writing efficient
                code. Popular I.D.E.s integrate many frameworks and their
                libraries.
              </h1>
            </div>

            <div class="type-links-container on-hover-visible">
              <a class="type-link" href="./heavy.html">
                <h1 class="type-link-text">Explore Editors</h1>
                <img
                  class="type-link-image"
                  src="./../images/heavy/right.png"
                />
              </a>

              <a class="type-link" href="./heavy.html">
                <h1 class="type-link-text">Explore Editors</h1>
                <img
                  class="type-link-image"
                  src="./../images/heavy/right.png"
                />
              </a>
            </div>
          </div>

          <img class="type-background" src="./../images/menu/frame.jpg" />
        </div>

        <div class="type-container">
          <div class="type-information-container">
            <div class="type-text-container">
              <h1 class="type-title">CODING LANGUAGES</h1>

              <h1 class="type-description on-hover-visible">
                Coding languages of various architectures and paradigms are used
                to build professional and enterprise level applications.
                Understanding the language and its core functionality within
                popular frameworks and libraries is very important when writing
                code. Many famous tools are built entirely from a single
                language and this tool is then used to build applications.
              </h1>
            </div>

            <div class="type-links-container on-hover-visible">
              <a class="type-link" href="./heavy.html">
                <h1 class="type-link-text">Explore Editors</h1>
                <img
                  class="type-link-image"
                  src="./../images/heavy/right.png"
                />
              </a>

              <a class="type-link" href="./heavy.html">
                <h1 class="type-link-text">Explore Editors</h1>
                <img
                  class="type-link-image"
                  src="./../images/heavy/right.png"
                />
              </a>
            </div>
          </div>

          <img class="type-background" src="./../images/menu/code.jpg" />
        </div>
      </section>
    </main>
  </body>
</html>
