<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Fonts Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion -->
    <link rel="stylesheet" href="/register.css" />
    <title>Codexo | Profile</title>
  </head>

  <body>
    <main>
      <section id="register-section" action="">
        <div class="info-container">
          <div class="info-text-container">
            <h1 class="info-title">HELLO <br />DEVELOPERS.</h1>

            <h1 class="info-description">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde ea
              nisi neque saepe praesentium placeat error eos architecto
              perspiciatis consequuntur!
            </h1>
          </div>

          <div class="info-links-container">
            <a class="info-link button" href="">
              <h1 class="info-link-text">Login</h1>
            </a>

            <a class="info-link" href=""></a>
            <a class="info-link" href=""></a>
            <a class="info-link" href=""></a>
          </div>

          <img class="info-image" src="/register/background.png" />
        </div>

        <div class="form-container">
          <h1 class="form-container-header">Register</h1>

          <form id="register-form" action="">
            <div class="input-container">
              <h1>Name</h1>
              <input type="text" />
            </div>
            
            <div class="input-container">
              <h1>Name</h1>
              <input type="text" />
            </div>
            
            <div class="input-container">
              <h1>Name</h1>
              <input type="text" />
            </div>
            
            <div class="input-container">
              <h1>Name</h1>
              <input type="text" />
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
