<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Fonts Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion -->
    <link rel="stylesheet" href="/register.css" />
    <title>Codexo | Profile</title>
  </head>

  <body>
    <main>
      <section id="register-section">
        <div class="info-container">
          <div class="info-text-container">
            <h1 class="info-title">Hello Developer.</h1>

            <h1 class="info-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur, velit! Quos cumque dolores mollitia iusto laboriosam,
              temporibus eaque sit illo dolorum optio sunt aspernatur
              repellendus ex natus qui eos aut.
            </h1>

            <div class="info-links-container">
              <a class="info-link button switch-forms">
                <h1 class="info-link-button-text">Switch</h1>
                <img class="info-link-button-image" src="/register/arrow.png" />
              </a>
            </div>
          </div>

          <img class="info-image" src="/register/background.png" />
        </div>

        <div class="form-container">
          <article class="form-container-header">
            <h1 class="form-container-header-title">Codexo Profile</h1>
          </article>

          <article class="forms-carousel">
            <form
              action="/account/profile/signup"
              class="form create"
              method="post"
            >
              <div class="input-container">
                <div class="input-block">
                  <img class="input-image" src="/register/user.png" />

                  <input
                    placeholder="Username"
                    class="input text"
                    name="username"
                    type="text"
                  />
                </div>

                <hr class="input-bar" />
              </div>

              <div class="input-container">
                <div class="input-block">
                  <img class="input-image" src="/register/user.png" />

                  <input
                    placeholder="Email ID"
                    class="input text"
                    name="email"
                    type="email"
                  />
                </div>

                <hr class="input-bar" />
              </div>

              <div class="input-container">
                <div class="input-block">
                  <img class="input-image" src="/register/user.png" />

                  <input
                    placeholder="Password"
                    class="input password"
                    name="password"
                    type="password"
                  />
                </div>

                <hr class="input-bar" />
              </div>

              <div class="input-container">
                <div class="input-block">
                  <img class="input-image" src="/register/user.png" />

                  <input
                    placeholder="Re Type Password"
                    class="input password"
                    type="password"
                    name="retypePassword"
                  />
                </div>

                <hr class="input-bar" />
              </div>

              <div class="form-buttons-container">
                <button
                  class="form-button submit"
                  name="submitButton"
                  value="create"
                  type="submit"
                >
                  <img class="form-button-image" src="/register/profile.png" />
                  <h1 class="form-button-text">Create Profile</h1>
                </button>

                <button class="form-button clear" type="reset">
                  <img class="form-button-image" src="/register/profile.png" />
                  <h1 class="form-button-text">Clear Form</h1>
                </button>
              </div>
            </form>

            <form
              action="/account/profile/login"
              class="form login"
              method="post"
            >
              <div class="input-container">
                <div class="input-block">
                  <img class="input-image" src="/register/user.png" />

                  <input
                    placeholder="Email ID"
                    class="input text"
                    name="email"
                    type="email"
                  />
                </div>

                <hr class="input-bar" />
              </div>

              <div class="input-container">
                <div class="input-block">
                  <img class="input-image" src="/register/user.png" />

                  <input
                    placeholder="Password"
                    class="input password"
                    name="password"
                    type="password"
                  />
                </div>

                <hr class="input-bar" />
              </div>

              <div class="input-container">
                <div class="input-block">
                  <img class="input-image" src="/register/user.png" />

                  <input
                    placeholder="Re Type Password"
                    class="input password"
                    type="password"
                    name="retypePassword"
                  />
                </div>

                <hr class="input-bar" />
              </div>

              <div class="form-buttons-container">
                <button
                  class="form-button submit"
                  name="submitButton"
                  value="login"
                  type="submit"
                >
                  <img class="form-button-image" src="/register/profile.png" />
                  <h1 class="form-button-text">Login Profile</h1>
                </button>

                <button class="form-button clear" type="reset">
                  <img class="form-button-image" src="/register/profile.png" />
                  <h1 class="form-button-text">Clear Form</h1>
                </button>
              </div>
            </form>
          </article>
        </div>
      </section>
    </main>

    <script type="module" src="/Register.js"></script>
  </body>
</html>
