@font-face {
  font-family: "Moon Regular";
  src: url("/Moon/Regular.otf");
}

@font-face {
  font-family: "Moon Bold";
  src: url("/Moon/Bold.otf");
}

@font-face {
  font-family: "Moon Light";
  src: url("/Moon/Light.otf");
}

@font-face {
  font-family: "Aquatico";
  src: url("/Aquatico.otf");
}

@font-face {
  font-family: "Porto";
  src: url("/Porto.ttf");
}
