#editors-section {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  display: grid;
  gap: 2.5rem;
}

.editors-section-title {
  font-family: "Aquatico", sans-serif;
  letter-spacing: 5px;
  text-align: center;
  font-size: 5rem;
  cursor: default;
}
