@import url("./editors/editor.css");
@import url("./editors/features.css");

#editors-section {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
}

.editors-section-title {
  font-family: "Aquatico", sans-serif;
  margin-bottom: 3rem;
  letter-spacing: 5px;
  text-align: center;
  font-size: 5rem;
  cursor: default;
}
