/*------------------------------------------------------------------*/
/*----------------------- NAVBAR MENU STYLES -----------------------*/
/*------------------------------------------------------------------*/

.nav-menu {
  background: linear-gradient(45deg, #000000, #040033, #000000);
  grid-template-columns: repeat(2, auto);
  border-radius: 5px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  justify-content: center;
  box-shadow: 0 0 10px;
  align-items: center;
  position: absolute;
  translate: 0 -10px;
  gap: 1rem 2rem;
  display: grid;
  padding: 2rem;
  z-index: 10;
  right: 4rem;
  opacity: 0;
  top: 10rem;
}

.nav-menu-link {
  grid-template-columns: repeat(2, auto);
  justify-content: left;
  align-items: center;
  display: grid;
  gap: 0.25rem;
}

.nav-menu-link-image {
  width: 40px;
}

.nav-menu-link-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

/*---------------------------------------------*/
/*----------------- ANIMATION -----------------*/
/*---------------------------------------------*/

.menu-opened {
  animation: MenuOpened 250ms ease-in-out forwards;
}

.menu-closed {
  animation: MenuClosed 250ms ease-in-out forwards;
}

@keyframes MenuOpened {
  0% {
    translate: 0 -10px;
    opacity: 0;
  }

  100% {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes MenuClosed {
  0% {
    translate: 0 0;
    opacity: 1;
  }

  100% {
    translate: 0 -10px;
    opacity: 0;
  }
}

/*--------------------------------------------------*/
/*------------------- END OF CSS -------------------*/
/*--------------------------------------------------*/
