/*-------------------------------------------------------------*/
/*------------------------ FORM STYLES ------------------------*/
/*-------------------------------------------------------------*/

#register-section {
  grid-template-columns: repeat(2, auto);
  box-shadow: 5px 5px 20px;
  justify-content: center;
  align-items: stretch;
  border-radius: 20px;
  width: fit-content;
  overflow: hidden;
  margin: 0 auto;
  height: 500px;
  display: grid;
}

/*------------------------------------------*/
/*------------- INFO CONTAINER -------------*/
/*------------------------------------------*/

.info-container {
  box-shadow: 2px 0 10px #00000080;
  grid-template-columns: auto;
  justify-content: stretch;
  background-color: #000;
  align-items: center;
  position: relative;
  overflow: hidden;
  display: grid;
  width: 600px;
  z-index: 1;
  gap: 0;
}

.info-image {
  transition: scale 500ms, object-position 500ms;
  object-position: 0 -25rem;
  pointer-events: none;
  position: absolute;
  object-fit: cover;
  margin: 0 auto;
  opacity: 0.4;
  width: 600px;
  z-index: -2;
  right: 0;
  left: 0;
  top: 0;
}

/*------------------------------------------------*/
/*---------------- TEXT CONTAINER ----------------*/
/*------------------------------------------------*/

.info-text-container {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  display: grid;
  gap: 1.5rem;
}

.info-title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 5rem;
  cursor: default;
  line-height: 1;
  color: #fff;
}

.info-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  cursor: default;
  color: #fff;
}

/*-----------------------------------------------*/
/*--------------- LINKS CONTAINER ---------------*/
/*-----------------------------------------------*/

.info-links-container {
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  display: grid;
  gap: 1.25rem;
}

.info-link-button {
  grid-template-columns: repeat(2, auto);
  transition: background-color 450ms;
  justify-content: center;
  padding: 0.4rem 3rem;
  align-items: center;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  display: grid;
  gap: 0.5rem;
}

.info-link-button.switch {
  border: 3px solid #0000c7;
  position: relative;
}

.info-link-button.switch::before {
  background-color: #0000c760;
  transition: width 450ms;
  position: absolute;
  height: 100%;
  content: "";
  z-index: -1;
  width: 0px;
  left: 0;
}

.info-link-button.skip {
  transition: background-color 450ms;
  background-color: #ff0040;
}

.info-link-button-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}

.info-link-button-text.switch {
  transition: opacity 500ms;
}

.info-link-button-image {
  width: 26px;
}

/*------------------------------------------*/
/*--------------- TRANSITION ---------------*/
/*------------------------------------------*/

.info-container:hover .info-image {
  object-position: 1.5rem -23rem;
  scale: 1.1;
}

.info-link-button.switch:hover::before {
  width: 100%;
}

.info-link-button.switch:active {
  background-color: #0000c7;
}

.info-link-button.skip:hover {
  background-color: #c20030;
}

.info-link-button.skip:active {
  background-color: #990026;
}

/*--------------------------------------------*/
/*---------------- END OF CSS ----------------*/
/*--------------------------------------------*/
