/*-------------------------------------------------------------------------*/
/*---------------------------- REGISTER STYLES ----------------------------*/
/*-------------------------------------------------------------------------*/

.register-information-container {
  background: linear-gradient(-45deg, #000000, #040033, #000000);
  grid-template-columns: auto;
  transition: height 500ms;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 3rem 2rem;
  display: grid;
  gap: 1.5rem;
}

.information-title {
  font-family: "Aquatico", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 100;
  font-size: 5rem;
  cursor: default;
  color: #fff;
}

.information-divider {
  border-bottom: 2px solid #ffffff22;
  border-right: none;
  border-left: none;
  border-top: none;
}

/*----------------------------------------------------*/
/*--------------- PASSWORD REQUIREMENT ---------------*/
/*----------------------------------------------------*/

.password-requirements-list {
  grid-template-columns: auto;
  justify-content: flex-start;
  transition: height 500ms;
  align-items: center;
  overflow: hidden;
  display: grid;
}

.password-requirements-point {
  grid-template-columns: repeat(2, auto);
  justify-content: flex-start;
  align-items: center;
  display: grid;
}

.password-image {
  width: 35px;
}

.password-text {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 1rem;
  cursor: default;
  color: #fff;
}

/*-----------------------------------------------------*/
/*------------------ LINKS CONTAINER ------------------*/
/*-----------------------------------------------------*/

.information-links-container {
  grid-template-columns: auto;
  justify-content: baseline;
  align-items: center;
  display: grid;
  gap: 0.65rem;
}

.information-link {
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  border: 2.5px solid;
  position: relative;
  padding: 0.25rem 0;
  display: grid;
  gap: 0.5rem;
}

.information-link::before {
  transition: width 400ms, background-color 400ms;
  position: absolute;
  margin: 0 auto;
  height: 105%;
  bottom: -1px;
  content: "";
  z-index: 0;
  width: 0%;
  right: 0;
  left: 0;
}

.information-link:nth-of-type(1) {
  border-color: #0000ff;
}

.information-link:nth-of-type(2) {
  border-color: #d7004f;
}

.information-link:nth-of-type(1)::before {
  background-color: #0000ff20;
}
.information-link:nth-of-type(2)::before {
  background-color: #d7004f20;
}

.information-link h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.25rem;
  position: relative;
  font-weight: 400;
  color: #fff;
  z-index: 1;
}

.information-link img {
  position: relative;
  width: 22.5px;
  z-index: 1;
}

/*--------------------------------------------*/
/*---------------- TRANSITION ----------------*/
/*--------------------------------------------*/

.information-link:nth-of-type(1):hover::before {
  background-color: #0000ff;
  width: 100%;
}

.information-link:nth-of-type(2):hover::before {
  background-color: #d7004f;
  width: 100%;
}

/*------------------------------------------------------*/
/*--------------------- END OF CSS ---------------------*/
/*------------------------------------------------------*/
