/*-----------------------------------------------------------------*/
/*------------------------- EDITOR STYLES -------------------------*/
/*-----------------------------------------------------------------*/

.editor-container {
  grid-template-columns: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem 0;
  display: grid;
}

/*-------------------------------------------*/
/*--------------- INFORMATION ---------------*/
/*-------------------------------------------*/

.editor-information {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
  display: grid;
}

/*----------------------------------------------------*/
/*------------------ LOGO CONTAINER ------------------*/
/*----------------------------------------------------*/

.editor-logo-container {
  grid-template-columns: repeat(2, auto);
  justify-content: left;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.editor-image {
  filter: drop-shadow(2px 3px 4px #00000065);
  width: 150px;
}

.editor-name {
  text-shadow: 2px 3px 6px #00000065;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 5rem;
  cursor: default;
  color: #fff;
}

/*------------------------------------------------*/
/*---------------- TEXT CONTAINER ----------------*/
/*------------------------------------------------*/

.editor-text-container {
  grid-template-columns: auto;
  justify-content: left;
  align-items: center;
  display: grid;
}

.editor-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #d8d8d8;
  cursor: default;
}

/*-------------------------------------------------*/
/*---------------- LINKS CONTAINER ----------------*/
/*-------------------------------------------------*/

.editor-links-container {
  grid-template-columns: repeat(2, auto);
  justify-content: left;
  align-items: center;
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}

.editor-link {
  grid-template-columns: repeat(2, auto);
  box-shadow: 2px 3px 6px #00000065;
  transition: background-color 450ms;
  justify-content: center;
  padding: 0.5rem 4rem;
  border-radius: 40px;
  align-items: center;
  display: grid;
  gap: 0.55rem;
}

.editor-link:nth-of-type(1) {
  background-color: #0000ff;
}

.editor-link:nth-of-type(2) {
  background-color: #d7004f;
}

.editor-link-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}

.editor-link:nth-of-type(1) .editor-link-image {
  width: 22px;
}

.editor-link:nth-of-type(2) .editor-link-image {
  width: 25px;
}

/*----------------------------------------------*/
/*------------- EDITOR COLLECTIONS -------------*/
/*----------------------------------------------*/

/*----------------------------------------------*/
/*------------ ALTERNATE CONTAINERS ------------*/
/*----------------------------------------------*/

.editor-container:nth-of-type(odd) {
  background: linear-gradient(
    45deg,
    #000000,
    #040033,
    #000000,
    #040033,
    #000000
  );
  box-shadow: 0 0 20px;
}

.editor-container:nth-of-type(odd) .editor-description {
  font-weight: 200;
}

.editor-container:nth-of-type(even) .editor-description,
.editor-container:nth-of-type(even) .editor-name {
  color: #000;
}

.editor-container:nth-of-type(even) .editor-description {
  font-weight: 300;
}

/*-------------------------------------------*/
/*--------------- TRANSITIONS ---------------*/
/*-------------------------------------------*/

.editor-link:nth-of-type(1):hover {
  background-color: #0000c1;
}

.editor-link:nth-of-type(2):hover {
  background-color: #a8003e;
}

/*----------------------------------------------------------*/
/*----------------------- END OF CSS -----------------------*/
/*----------------------------------------------------------*/
