<nav>
  <h1 class="nav-title">CODEXO</h1>

  <div class="nav-links-container">
    <a class="nav-link" href="./menu.ejs">OTHERS</a>
    <a class="nav-link" href="#features-section">FEATURES</a>

    <div class="nav-menu-button">
      <h1 class="nav-menu-button-text">EXPLORE</h1>
      <img
        class="nav-menu-button-image"
        src="/editors/buttons/short-arrow.png"
      />
    </div>
  </div>
</nav>

<div class="nav-menu">
  <% collection.forEach((link) => { %>
  <a class="nav-menu-link" href="#<%= link.name %>">
    <img src="<%= link.image %>" class="nav-menu-link-image" />
    <h1 class="nav-menu-link-text"><%= link.name %></h1>
  </a>
  <% }) %>
</div>
